{% extends "base.html" %}
{% block content %}
<div class="detail">
<table class="tg">
  <tr>
    <th class="tg-k2pw">Test Lab Name</th>
    <th class="tg-k2pw">Latitude</th>
    <th class="tg-k2pw">Longitude</th>
  </tr>
  <tr>
    <td class="tg-7ids">Government Medical College, Srinagar</td>
    <td class="tg-7ids">34.0859652</td>
    <td class="tg-7ids">74.7988339</td>
  </tr>
  <tr><td class="tg-7ids" colspan="3"><p>Address: Bemina, Srinagar, Jammu and Kashmir, 190010.<br>Principal: Prof. (Dr.) Samia Rashid<br>
Phone: 0194 245 3114</p>
  </td></tr>
  <tr>
    <td class="tg-5nj1">Command Hospital, Udhampur</td>
    <td class="tg-5nj1">32.9308247</td>
    <td class="tg-5nj1">75.1351118</td>
  </tr>
  <tr><td class="tg-5nj1" colspan="3"><p>Address: Raghunathpura, Udhampur, Jammu and Kashmir 182101.<br>
Phone: 090856 23485</p>
  </td></tr>
  <tr>
    <td class="tg-7ids">Dr. Rajendra Prasad Government Medical College, Kangra</td>
    <td class="tg-7ids">32.0984839</td>
    <td class="tg-7ids">76.3002425</td>
  </tr>
  <tr><td class="tg-7ids" colspan="3"><p>Address: Tanda Hospital Rd, Pushp Vihar Colony, Kangra, Himachal Pradesh 176001<br>Principal: Bhanu Awasthi<br>
Phone: 0189 226 7115</p>
  </td></tr>
  <tr>
    <td class="tg-5nj1">Guru Gobind Singh Medical College &amp; Hospital, Faridkot</td>
    <td class="tg-5nj1">30.6822834</td>
    <td class="tg-5nj1">74.7450933</td>
  </tr>
  <tr><td class="tg-5nj1" colspan="3"><p>Address: Sadiq Rd, Kotakpura, GGS Medical Hospital, Faridkot, Punjab 151203<br>Principal: Dr Deepak John Bhatti<br>
Phone: 0163 925 0068</p>
  </td></tr>
  <tr>
    <td class="tg-7ids">Tuli Diagnostic Centre, Amritsar</td>
    <td class="tg-7ids">31.6533285</td>
    <td class="tg-7ids">74.885386</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Sher - i -Kashmir Institute of Medical Sciences, Srinagar</td>
    <td class="tg-5nj1">34.1367751</td>
    <td class="tg-5nj1">74.8002085</td>
  </tr>
  <tr>
    <td class="tg-7ids">Sonam Nurboo Memorial Hospital, Leh-Ladakh</td>
    <td class="tg-7ids">34.1534861</td>
    <td class="tg-7ids">77.5784272</td>
  </tr>
  <tr>
    <td class="tg-5nj1">All India Institute of Medical Sciences (AIIMS), Bhopal</td>
    <td class="tg-5nj1">23.2093426</td>
    <td class="tg-5nj1">77.4584547</td>
  </tr>
  <tr>
    <td class="tg-7ids">All India Institute of Medical Sciences (AIIMS), Patna</td>
    <td class="tg-7ids">25.5629068</td>
    <td class="tg-7ids">85.0391397</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Christian Medical College, Vellore</td>
    <td class="tg-5nj1">12.8792168</td>
    <td class="tg-5nj1">79.1300117</td>
  </tr>
  <tr>
    <td class="tg-7ids">Patliputra Medical College &amp; Hospital, Dhanbad</td>
    <td class="tg-7ids">23.8103239</td>
    <td class="tg-7ids">86.4639425</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Ram Manohar Lohia Hospital, New Delhi</td>
    <td class="tg-5nj1">28.6259241</td>
    <td class="tg-5nj1">77.20086459</td>
  </tr>
  <tr>
    <td class="tg-7ids">Sonam Nurboo Memorial Hospital, Leh-Ladakh</td>
    <td class="tg-7ids">34.1534861</td>
    <td class="tg-7ids">77.5784272</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Tirunelveli Medical College, Tirunelveli</td>
    <td class="tg-5nj1">8.7119289</td>
    <td class="tg-5nj1">77.7507403</td>
  </tr>
  <tr>
    <td class="tg-7ids">A.G Diagnostics Pvt Ltd, Pune</td>
    <td class="tg-7ids">18.5252486</td>
    <td class="tg-7ids">73.7555321</td>
  </tr>
  <tr>
    <td class="tg-5nj1">ACSR Government Medical College, Nellore</td>
    <td class="tg-5nj1">14.4269861</td>
    <td class="tg-5nj1">79.9603658</td>
  </tr>
  <tr>
    <td class="tg-7ids">Action Cancer Hospital, New Delhi</td>
    <td class="tg-7ids">28.6688955</td>
    <td class="tg-7ids">77.0889899</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Aditya Birla Memorial Hospital âLaboratory (A Unit of Aditya Birla Health Services Ltd.), Pune</td>
    <td class="tg-5nj1">18.6257211</td>
    <td class="tg-5nj1">73.7725819</td>
  </tr>
  <tr>
    <td class="tg-7ids">Advanced Centre for Treatment, Research and Education in Cancer (ACTREC), Tata Memorial Centre, Navi Mumbai</td>
    <td class="tg-7ids">19.0652633</td>
    <td class="tg-7ids">73.0625656</td>
  </tr>
  <tr>
    <td class="tg-5nj1">All India Institute of Medical Science (AIIMS), Raipur</td>
    <td class="tg-5nj1">21.2567847</td>
    <td class="tg-5nj1">81.5769847</td>
  </tr>
  <tr>
    <td class="tg-7ids">All India Institute of Medical Sciences (AIIMS), Bhubaneswar</td>
    <td class="tg-7ids">20.2310832</td>
    <td class="tg-7ids">85.7728915</td>
  </tr>
  <tr>
    <td class="tg-5nj1">All India Institute of Medical Sciences (AIIMS), Jodhpur</td>
    <td class="tg-5nj1">26.2399414</td>
    <td class="tg-5nj1">73.0067897</td>
  </tr>
  <tr>
    <td class="tg-7ids">All India Institute of Medical Sciences (AIIMS), Nagpur</td>
    <td class="tg-7ids">24.7452979</td>
    <td class="tg-7ids">73.6074981</td>
  </tr>
  <tr>
    <td class="tg-5nj1">All India Institute of Medical Sciences (AIIMS), New Delhi</td>
    <td class="tg-5nj1">28.567182</td>
    <td class="tg-5nj1">77.207851</td>
  </tr>
  <tr>
    <td class="tg-7ids">All India Institute of Medical Sciences (AIIMS), Rishikesh</td>
    <td class="tg-7ids">30.0790377</td>
    <td class="tg-7ids">78.2860368</td>
  </tr>
  <tr>
    <td class="tg-5nj1">AMERICAN Institute of Pathology and Laboratory Sciences Private Limited, Hyderabad</td>
    <td class="tg-5nj1">17.4479353</td>
    <td class="tg-5nj1">78.3103735</td>
  </tr>
  <tr>
    <td class="tg-7ids">AMRI Hospitals, Department of Laboratory Medicine, Kolkata</td>
    <td class="tg-7ids">22.5682942</td>
    <td class="tg-7ids">88.4094573</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Andaman &amp; Nicobar Islands Institute of Medical Sciences (ANIIMS), Port Blair</td>
    <td class="tg-5nj1">11.6614213</td>
    <td class="tg-5nj1">92.739218</td>
  </tr>
  <tr>
    <td class="tg-7ids">Andhra Medical College, Vishakhapatnam</td>
    <td class="tg-7ids">17.7064979</td>
    <td class="tg-7ids">83.3026719</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Apollo Gleneagles Hospitals, Kolkata</td>
    <td class="tg-5nj1">22.5746667</td>
    <td class="tg-5nj1">88.40159368</td>
  </tr>
  <tr>
    <td class="tg-7ids">Apollo Health and Lifestyle Limited-Secunderabad, Diagnostics Laboratory, Hyderabad</td>
    <td class="tg-7ids">17.4522907</td>
    <td class="tg-7ids">78.4473372</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Apollo Hospitals Enterprise Limited, Chennai</td>
    <td class="tg-5nj1">13.0702889</td>
    <td class="tg-5nj1">80.233135</td>
  </tr>
  <tr>
    <td class="tg-7ids">Area Hospital, Adoni</td>
    <td class="tg-7ids">15.6210956</td>
    <td class="tg-7ids">77.2782974</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Area Hospital, Amalapuram</td>
    <td class="tg-5nj1">16.5875812</td>
    <td class="tg-5nj1">82.0085853</td>
  </tr>
  <tr>
    <td class="tg-7ids">Area hospital, Chirala</td>
    <td class="tg-7ids">15.8289434</td>
    <td class="tg-7ids">80.3591136</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Area Hospital, Kadiri</td>
    <td class="tg-5nj1">14.1131063</td>
    <td class="tg-5nj1">78.157479</td>
  </tr>
  <tr>
    <td class="tg-7ids">Area Hospital, Kandukuru</td>
    <td class="tg-7ids">15.9239849</td>
    <td class="tg-7ids">77.1724203</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Area Hospital, Kavali</td>
    <td class="tg-5nj1">53.03944605</td>
    <td class="tg-5nj1">29.54772873</td>
  </tr>
  <tr>
    <td class="tg-7ids">Area Hospital, Macherla</td>
    <td class="tg-7ids">16.4771893</td>
    <td class="tg-7ids">79.435603</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Area Hospital, Narasaraopet</td>
    <td class="tg-5nj1">16.2358442</td>
    <td class="tg-5nj1">80.0485055</td>
  </tr>
  <tr>
    <td class="tg-7ids">Area Hospital, Narsipatnam</td>
    <td class="tg-7ids">17.4306235</td>
    <td class="tg-7ids">81.7771418</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Area Hospital, Nuzvid</td>
    <td class="tg-5nj1">16.7895196</td>
    <td class="tg-5nj1">80.8428714</td>
  </tr>
  <tr>
    <td class="tg-7ids">Area Hospital, Palamaner</td>
    <td class="tg-7ids">13.198441</td>
    <td class="tg-7ids">78.748131</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Area Hospital, Parvathipuram</td>
    <td class="tg-5nj1">18.7711288</td>
    <td class="tg-5nj1">83.4243477</td>
  </tr>
  <tr>
    <td class="tg-7ids">Area Hospital, Rampachodavaram</td>
    <td class="tg-7ids">17.4306235</td>
    <td class="tg-7ids">81.7771418</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Area Hospital, Tadepalligudem</td>
    <td class="tg-5nj1">16.8181234</td>
    <td class="tg-5nj1">81.5070921</td>
  </tr>
  <tr>
    <td class="tg-7ids">Armed Forces Medical College, Pune</td>
    <td class="tg-7ids">18.5028575</td>
    <td class="tg-7ids">73.89337951</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Army Hospital Research &amp; Referral, New Delhi</td>
    <td class="tg-5nj1">28.5850144</td>
    <td class="tg-5nj1">77.1554001</td>
  </tr>
  <tr>
    <td class="tg-7ids">Bangalore Medical College &amp; Research Institute, Bangaluru</td>
    <td class="tg-7ids">12.9602822</td>
    <td class="tg-7ids">77.5716494</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Bhopal Memorial Hospital &amp; Research Centre, Bhopal</td>
    <td class="tg-5nj1">23.3003492</td>
    <td class="tg-5nj1">77.4166846</td>
  </tr>
  <tr>
    <td class="tg-7ids">Biognosys Technologies (India) Private Limited, Hyderabad</td>
    <td class="tg-7ids">17.5335381</td>
    <td class="tg-7ids">78.3904272</td>
  </tr>
  <tr>
    <td class="tg-5nj1">BJ Medical College, Ahmedabad</td>
    <td class="tg-5nj1">23.0524472</td>
    <td class="tg-5nj1">72.6027712</td>
  </tr>
  <tr>
    <td class="tg-7ids">BJ Medical College, Pune</td>
    <td class="tg-7ids">18.5268345</td>
    <td class="tg-7ids">73.8719155</td>
  </tr>
  <tr>
    <td class="tg-5nj1">BPS Government Medical College for Women, Sonipat</td>
    <td class="tg-5nj1">29.152062</td>
    <td class="tg-5nj1">76.8062048</td>
  </tr>
  <tr>
    <td class="tg-7ids">Bundelkhand Government College, Sagar</td>
    <td class="tg-7ids">23.8189579</td>
    <td class="tg-7ids">78.7526885</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Cancyte Technologies Private Limited, Bengaluru</td>
    <td class="tg-5nj1">12.9559985</td>
    <td class="tg-5nj1">77.5670197</td>
  </tr>
  <tr>
    <td class="tg-7ids">Central Diagnostic Laboratory, Vydehi Institute of Medical Sciences &amp; Research Centre, Bangalore</td>
    <td class="tg-7ids">12.9756507</td>
    <td class="tg-7ids">77.7279961</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Central Laboratory, Mahatma Gandhi University of Medical Sciences &amp; Technology, Jaipur</td>
    <td class="tg-5nj1">26.7702573</td>
    <td class="tg-5nj1">75.8521497</td>
  </tr>
  <tr>
    <td class="tg-7ids">Central Laboratory, Syngene International Limited, Bengaluru</td>
    <td class="tg-7ids">12.8066371</td>
    <td class="tg-7ids">77.6606955</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Central Reference Lab, Medall Healthcare Private Limited, Chennai</td>
    <td class="tg-5nj1">13.0053257</td>
    <td class="tg-5nj1">80.209698</td>
  </tr>
  <tr>
    <td class="tg-7ids">Central Reference Laboratory, R D Gardi Medical College, Ujjain</td>
    <td class="tg-7ids">23.2326199</td>
    <td class="tg-7ids">75.8093609</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Central Research Institute, Kasauli</td>
    <td class="tg-5nj1">30.8996537</td>
    <td class="tg-5nj1">76.9624283</td>
  </tr>
  <tr>
    <td class="tg-7ids">Central University of Kerala, Kasaragod</td>
    <td class="tg-7ids">12.2586272</td>
    <td class="tg-7ids">75.1176389</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Centre for DNA Fingerprinting and Diagnostics (CDFD), Hyderabad</td>
    <td class="tg-5nj1">17.3933727</td>
    <td class="tg-5nj1">78.5553388</td>
  </tr>
  <tr>
    <td class="tg-7ids">Chirayu Medical College &amp; Hospital, Bhopal</td>
    <td class="tg-7ids">23.2688064</td>
    <td class="tg-7ids">77.3081296</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Chittaranjan National Cancer Institute, Kolkata</td>
    <td class="tg-5nj1">22.5256896</td>
    <td class="tg-5nj1">88.3443849</td>
  </tr>
  <tr>
    <td class="tg-7ids">City x-Ray &amp; Scan Clinic Pvt. Ltd., New Delhi</td>
    <td class="tg-7ids">28.6179115</td>
    <td class="tg-7ids">77.0767771</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Coimbatore Medical College, Coimbatore</td>
    <td class="tg-5nj1">11.0279253</td>
    <td class="tg-5nj1">77.0240427</td>
  </tr>
  <tr>
    <td class="tg-7ids">Command Hospital (Air Force), Bengaluru</td>
    <td class="tg-7ids">12.96402695</td>
    <td class="tg-7ids">77.62750003</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Command Hospital (Eastern Command), Kolkata</td>
    <td class="tg-5nj1">22.5299631</td>
    <td class="tg-5nj1">88.3282629</td>
  </tr>
  <tr>
    <td class="tg-7ids">Command Hospital (WC), Chandimandir, Panchkula</td>
    <td class="tg-7ids">30.7277832</td>
    <td class="tg-7ids">76.842929</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Command Hospital, Lucknow</td>
    <td class="tg-5nj1">26.8176012</td>
    <td class="tg-5nj1">80.94033</td>
  </tr>
  <tr>
    <td class="tg-7ids">Command Hospital, Udhampur</td>
    <td class="tg-7ids">32.9308247</td>
    <td class="tg-7ids">75.1351118</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Community Health Centre, Banaganapalli</td>
    <td class="tg-5nj1">15.3185597</td>
    <td class="tg-5nj1">78.1907701</td>
  </tr>
  <tr>
    <td class="tg-7ids">Community Health Centre, Bhimavaram</td>
    <td class="tg-7ids">16.5531424</td>
    <td class="tg-7ids">81.5068557</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Community Health Centre, Pathapatnam</td>
    <td class="tg-5nj1">18.745296</td>
    <td class="tg-5nj1">84.0757467</td>
  </tr>
  <tr>
    <td class="tg-7ids">Community Health Centre, Salur</td>
    <td class="tg-7ids">18.5169095</td>
    <td class="tg-7ids">83.1979813</td>
  </tr>
  <tr>
    <td class="tg-5nj1">CORE Diagnostics Pvt Ltd, Gurugram</td>
    <td class="tg-5nj1">28.5092934</td>
    <td class="tg-5nj1">77.0894497</td>
  </tr>
  <tr>
    <td class="tg-7ids">CSIR - Institute of Microbial Technology, Chandigarh</td>
    <td class="tg-7ids">30.7477726</td>
    <td class="tg-7ids">76.7315059</td>
  </tr>
  <tr>
    <td class="tg-5nj1">CSIR-Centre for Cellular &amp; Molecular Biology (CCMB), Hyderabad</td>
    <td class="tg-5nj1">17.4210261</td>
    <td class="tg-5nj1">78.5388414</td>
  </tr>
  <tr>
    <td class="tg-7ids">CSIR-Institute of Himalayan Bioresource Technology, Palampur</td>
    <td class="tg-7ids">32.1051673</td>
    <td class="tg-7ids">76.5542058</td>
  </tr>
  <tr>
    <td class="tg-5nj1">CSIR-National Environmental Engineering Research Institute, Nagpur</td>
    <td class="tg-5nj1">26.1340657</td>
    <td class="tg-5nj1">85.90421111</td>
  </tr>
  <tr>
    <td class="tg-7ids">Damien TB Research Centre, Nellore</td>
    <td class="tg-7ids">14.413029</td>
    <td class="tg-7ids">79.9657819</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Darbhanga Medical College, Darbhanga</td>
    <td class="tg-5nj1">26.1337791</td>
    <td class="tg-5nj1">85.8993942</td>
  </tr>
  <tr>
    <td class="tg-7ids">DDRC SRL Diagnostics Pvt Ltd, Ernakulam</td>
    <td class="tg-7ids">9.9919593</td>
    <td class="tg-7ids">76.2736244</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Defence Research &amp; Development Establishment (DRDE), Gwalior</td>
    <td class="tg-5nj1">26.2226261</td>
    <td class="tg-5nj1">78.1788321</td>
  </tr>
  <tr>
    <td class="tg-7ids">Department of Biochemistry, Indian Institute of Science, Bangalore</td>
    <td class="tg-7ids">13.0235487</td>
    <td class="tg-7ids">77.561658</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Department of Laboratory Medicine â P.D. Hinduja National Hospital &amp; Medical Research Centre, Mumbai</td>
    <td class="tg-5nj1">19.0335052</td>
    <td class="tg-5nj1">72.8361549</td>
  </tr>
  <tr>
    <td class="tg-7ids">Department of Laboratory Medicine, Jaypee Hospital, Noida</td>
    <td class="tg-7ids">28.5154921</td>
    <td class="tg-7ids">77.3691795</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Department of Laboratory Medicine, Zydus Hospital &amp; Healthcare Research Pvt. Ltd., Ahmedabad</td>
    <td class="tg-5nj1">23.0600801</td>
    <td class="tg-5nj1">72.5161278</td>
  </tr>
  <tr>
    <td class="tg-7ids">Department of Laboratory Sciences, Tata Medical Center, Kolkata</td>
    <td class="tg-7ids">22.577102</td>
    <td class="tg-7ids">88.4774378</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Department of Laboratory Services Apollo Hospitals, Bhubaneswar</td>
    <td class="tg-5nj1">20.3057406</td>
    <td class="tg-5nj1">85.8294722</td>
  </tr>
  <tr>
    <td class="tg-7ids">Department of Laboratory Services, Dr. B.L. Kapur Memorial Hospital, New Delhi</td>
    <td class="tg-7ids">28.6433084</td>
    <td class="tg-7ids">77.1776675</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Department of Microbiology, Dayanand Medical College and Hospital, Ludhiana</td>
    <td class="tg-5nj1">30.9142878</td>
    <td class="tg-5nj1">75.8141137</td>
  </tr>
  <tr>
    <td class="tg-7ids">Department of Pathology and Laboratory Medicine, Medanta -The Medicity , Gurugram</td>
    <td class="tg-7ids">28.4394205</td>
    <td class="tg-7ids">77.0403866</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Dharwad institute of Mental Health and Neurosciences (DIMHANS) , Dharwad</td>
    <td class="tg-5nj1">15.4650395</td>
    <td class="tg-5nj1">74.9961036</td>
  </tr>
  <tr>
    <td class="tg-7ids">Distric Hospital, Proddatur</td>
    <td class="tg-7ids">14.7486935</td>
    <td class="tg-7ids">78.5407637</td>
  </tr>
  <tr>
    <td class="tg-5nj1">District Hospital Chenchupeta, Tenali, Guntur</td>
    <td class="tg-5nj1">16.2717209</td>
    <td class="tg-5nj1">80.4064863</td>
  </tr>
  <tr>
    <td class="tg-7ids">District Hospital, Anakapalle</td>
    <td class="tg-7ids">14.67029195</td>
    <td class="tg-7ids">79.57396235</td>
  </tr>
  <tr>
    <td class="tg-5nj1">District Hospital, APVVP, Pulivendula</td>
    <td class="tg-5nj1">13.7645439</td>
    <td class="tg-5nj1">77.4908078</td>
  </tr>
  <tr>
    <td class="tg-7ids">District Hospital, Markapur</td>
    <td class="tg-7ids">17.0195969</td>
    <td class="tg-7ids">81.7917809</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Dr. Jariwala Laboratory &amp; Diagnostics LLP, Mumbai</td>
    <td class="tg-5nj1">32.0984839</td>
    <td class="tg-5nj1">76.3002425</td>
  </tr>
  <tr>
    <td class="tg-7ids">Dr. Ram Manohar Lohia Institute of Medical Sciences (DR.RMLIMS), Lucknow</td>
    <td class="tg-7ids">26.2695624</td>
    <td class="tg-7ids">73.00791869</td>
  </tr>
  <tr>
    <td class="tg-5nj1">ESIC Medical College and Hospital, Faridabad</td>
    <td class="tg-5nj1">26.3231069</td>
    <td class="tg-5nj1">90.985744</td>
  </tr>
  <tr>
    <td class="tg-7ids">ESIC Medical College, Hyderabad</td>
    <td class="tg-7ids">15.37861205</td>
    <td class="tg-7ids">75.60244708</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Gandhi Medical College, Secunderabad</td>
    <td class="tg-5nj1">26.1595109</td>
    <td class="tg-5nj1">91.7686637</td>
  </tr>
  <tr>
    <td class="tg-7ids">Genepath Diagnostics India Private Limited, Pune</td>
    <td class="tg-7ids">15.46404565</td>
    <td class="tg-7ids">73.85842843</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Government Dharmapuri Medical College, Dharmapuri</td>
    <td class="tg-5nj1">16.2915189</td>
    <td class="tg-5nj1">80.4541588</td>
  </tr>
  <tr>
    <td class="tg-7ids">Government Medical College &amp; ESI Hospital, Coimbatore</td>
    <td class="tg-7ids">10.40985755</td>
    <td class="tg-7ids">78.84846937</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Government Medical College, Kannur</td>
    <td class="tg-5nj1">25.124066</td>
    <td class="tg-5nj1">75.83032973</td>
  </tr>
  <tr>
    <td class="tg-7ids">Government Medical College, Kota</td>
    <td class="tg-7ids">11.273423</td>
    <td class="tg-7ids">75.8378944</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Government Medical College, Kozhikode</td>
    <td class="tg-5nj1">21.1349975</td>
    <td class="tg-5nj1">79.1021797</td>
  </tr>
  <tr>
    <td class="tg-7ids">Government Medical College, Thiruvarur</td>
    <td class="tg-7ids">8.5238293</td>
    <td class="tg-7ids">76.92728204</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Government Theni Medical College, Theni</td>
    <td class="tg-5nj1">12.2259398</td>
    <td class="tg-5nj1">79.0660738</td>
  </tr>
  <tr>
    <td class="tg-7ids">Gujarat Medical Education &amp; Research Society (GMERS) Medical College, Gandhinagar</td>
    <td class="tg-7ids">16.2978948</td>
    <td class="tg-7ids">80.43772786</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Guntur Medical College, Guntur</td>
    <td class="tg-5nj1">19.0025582</td>
    <td class="tg-5nj1">72.84540031</td>
  </tr>
  <tr>
    <td class="tg-7ids">Guru Gobind Singh Medical College &amp; Hospital, Faridkot</td>
    <td class="tg-7ids">13.0047415</td>
    <td class="tg-7ids">76.10237165</td>
  </tr>
  <tr>
    <td class="tg-5nj1">ICMR-Regional Medical Research Centre, NE Region, Dibrugarh</td>
    <td class="tg-5nj1">21.15405</td>
    <td class="tg-5nj1">79.094649</td>
  </tr>
  <tr>
    <td class="tg-7ids">iGenetic Diagnostics Pvt. Ltd., Mumbai</td>
    <td class="tg-7ids">25.6107234</td>
    <td class="tg-7ids">85.08864084</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Indira Gandhi Government Medical College &amp; Hospital, Nagpur</td>
    <td class="tg-5nj1">11.9398366</td>
    <td class="tg-5nj1">79.7963066</td>
  </tr>
  <tr>
    <td class="tg-7ids">InfeXn Laboratories Private Ltd, Thane</td>
    <td class="tg-7ids">28.50686535</td>
    <td class="tg-7ids">77.16564041</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Ispat General Hospital (IGH), Rourkela,</td>
    <td class="tg-5nj1">11.9503094</td>
    <td class="tg-5nj1">79.7996946</td>
  </tr>
  <tr>
    <td class="tg-7ids">Jhalawar Medical College, Jhalawar</td>
    <td class="tg-7ids">24.5884172</td>
    <td class="tg-7ids">76.1604747</td>
  </tr>
  <tr>
    <td class="tg-5nj1">King George's Medical University, Lucknow</td>
    <td class="tg-5nj1">26.86702355</td>
    <td class="tg-5nj1">80.91546044</td>
  </tr>
  <tr>
    <td class="tg-7ids">Kurnool Medical College, Kurnool,</td>
    <td class="tg-7ids">15.81984825</td>
    <td class="tg-7ids">78.03765671</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Madras Medical College, Chennai</td>
    <td class="tg-5nj1">13.08095965</td>
    <td class="tg-5nj1">80.27994938</td>
  </tr>
  <tr>
    <td class="tg-7ids">Madurai Medical College, Madurai</td>
    <td class="tg-7ids">9.9276334</td>
    <td class="tg-7ids">78.136453</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Maharani Laxmi Bai Medical College, Jhansi</td>
    <td class="tg-5nj1">25.4596023</td>
    <td class="tg-5nj1">78.6148127</td>
  </tr>
  <tr>
    <td class="tg-7ids">Mahatma Gandhi Institute of Medical Sciences, Wardha</td>
    <td class="tg-7ids">20.7392973</td>
    <td class="tg-7ids">78.66120406</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Malda Medical College, Malda</td>
    <td class="tg-5nj1">24.9957315</td>
    <td class="tg-5nj1">88.1364254</td>
  </tr>
  <tr>
    <td class="tg-7ids">Maulana Azad Medical College, New Delhi</td>
    <td class="tg-7ids">28.63558495</td>
    <td class="tg-7ids">77.23782399</td>
  </tr>
  <tr>
    <td class="tg-5nj1">MGM Medical College, Indore</td>
    <td class="tg-5nj1">22.71429695</td>
    <td class="tg-5nj1">75.88297155</td>
  </tr>
  <tr>
    <td class="tg-7ids">Microbiological Laboratory, Coimbatore</td>
    <td class="tg-7ids">11.0234149</td>
    <td class="tg-7ids">76.9103076</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Midnapore Medical College, Midnapore</td>
    <td class="tg-5nj1">22.42058005</td>
    <td class="tg-5nj1">87.32141849</td>
  </tr>
  <tr>
    <td class="tg-7ids">Motilal Nehru Medical College, Prayagraj</td>
    <td class="tg-7ids">25.45114195</td>
    <td class="tg-7ids">81.85218534</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Murshidabad Medical College, Berhampore</td>
    <td class="tg-5nj1">24.0890213</td>
    <td class="tg-5nj1">88.2588875</td>
  </tr>
  <tr>
    <td class="tg-7ids">Mysore Medical College and Research Institute, Mysore</td>
    <td class="tg-7ids">12.31617</td>
    <td class="tg-7ids">76.64926499</td>
  </tr>
  <tr>
    <td class="tg-5nj1">National Centre for Disease Control, New Delhi</td>
    <td class="tg-5nj1">28.67954725</td>
    <td class="tg-5nj1">77.22221658</td>
  </tr>
  <tr>
    <td class="tg-7ids">National Institute of Biologicals, Noida</td>
    <td class="tg-7ids">28.6273191</td>
    <td class="tg-7ids">77.3589892</td>
  </tr>
  <tr>
    <td class="tg-5nj1">National Institute of Mental Health and Neuro Sciences (NIMHANS), Bangalore</td>
    <td class="tg-5nj1">12.9386321</td>
    <td class="tg-5nj1">77.5944105</td>
  </tr>
  <tr>
    <td class="tg-7ids">Nizam's Institute Of Medical Sciences, Hyderabad</td>
    <td class="tg-7ids">17.42217535</td>
    <td class="tg-7ids">78.45182149</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Osmania Medical College, Hyderabad</td>
    <td class="tg-5nj1">17.38235</td>
    <td class="tg-5nj1">78.48333384</td>
  </tr>
  <tr>
    <td class="tg-7ids">Pandit Bhagwat Dayal Sharma Post Graduate Institute of Medical Sciences, Rohtak</td>
    <td class="tg-7ids">28.8795451</td>
    <td class="tg-7ids">76.6075855</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Pasteur Institute of India, Coonoor</td>
    <td class="tg-5nj1">11.35492145</td>
    <td class="tg-5nj1">76.80256628</td>
  </tr>
  <tr>
    <td class="tg-7ids">Patna Medical College, Patna</td>
    <td class="tg-7ids">25.6200266</td>
    <td class="tg-7ids">85.1581066</td>
  </tr>
  <tr>
    <td class="tg-5nj1">R. G. Kar Medical College and Hospital, Kolkata</td>
    <td class="tg-5nj1">22.6044756</td>
    <td class="tg-5nj1">88.37840669</td>
  </tr>
  <tr>
    <td class="tg-7ids">Rajiv Gandhi Center for Biotechnology, Thiruvananthapuram</td>
    <td class="tg-7ids">8.492145</td>
    <td class="tg-7ids">76.96609622</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Regional Institute of Medical Sciences, Imphal</td>
    <td class="tg-5nj1">24.81674365</td>
    <td class="tg-5nj1">93.92268108</td>
  </tr>
  <tr>
    <td class="tg-7ids">Sher - i -Kashmir Institute of Medical Sciences, Srinagar</td>
    <td class="tg-7ids">34.1367751</td>
    <td class="tg-7ids">74.8002085</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Silchar Medical College, Silchar</td>
    <td class="tg-5nj1">24.7751968</td>
    <td class="tg-5nj1">92.79714034</td>
  </tr>
  <tr>
    <td class="tg-7ids">Stanley Medical College, Chennai</td>
    <td class="tg-7ids">13.10609125</td>
    <td class="tg-7ids">80.28716806</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Tezpur Medical College and Hospital, Tezpur</td>
    <td class="tg-5nj1">26.68067345</td>
    <td class="tg-5nj1">92.65289297</td>
  </tr>
  <tr>
    <td class="tg-7ids">Thanjavur Medical College, Thanjavur</td>
    <td class="tg-7ids">10.7583482</td>
    <td class="tg-7ids">79.10637777</td>
  </tr>
  <tr>
    <td class="tg-5nj1">Vardhman Mahavir Medical College and Safdarjung Hospital, New Delhi</td>
    <td class="tg-5nj1">28.5685701</td>
    <td class="tg-5nj1">77.2064068</td>
  </tr>
  <tr>
    <td class="tg-7ids">Vijayanagar Institute of Medical Science, Bellary</td>
    <td class="tg-7ids">15.15492465</td>
    <td class="tg-7ids">76.89554408</td>
  </tr>
</table>
</div>
{% endblock %}
