<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.responsive {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.body{
    background-color: #808080;
}
@media only screen and (max-width: 600px) {
.responsive{
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}
</style>
</head>
<body class="body">

<h2 style="text-align: center;">Heatmap</h2>

<p style="text-align: center;">The yellow region shows the affected area.</p>
<p style="text-align: center;">[Note: If the result is negative then heatmap is not displayed.]</p>
{% if image_path %}
<img src="{{url_for("static", filename="heatmap/" + image_path)}}" alt="Heatmap" class="responsive"">
{% endif %}
</body>
</html>
